.App {
    display: grid;
    text-align: center;
    position: relative;
    min-height: 100vh;
    background-image: url("../src/assets/background2.jpg");
    background-size: cover;
    background-attachment: fixed; /* Fija la imagen en su lugar */
 }